{% extends "base.html" %}

{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                src="https://dummyimage.com/400x400">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest mb-4"><a
                        href="{% url 'leads:lead-list' %}">Go back to leads list</a></h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Lead Details :- {{lead.first_name}}
                    {{lead.last_name}}</h1>

                <p class="leading-relaxed">{{lead.title}}</p>
                <p class="leading-relaxed">Agent :{{lead.agent}}</p>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">

                    <div class="flex ml-6 items-center">
                        <div class="relative">
                            <span
                                class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <span class="title-font font-medium text-1xl text-gray-900">Age: {{lead.age}}</span>
                </div>
                <div class="flex flex-row mt-5">
                    <div class="mr-5">
                        <a href="{% url 'leads:lead-update' lead.pk %}"
                            class="basis-1/4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Update</a>
                    </div>
                    <div>
                        <a href="{% url 'leads:lead-delete' lead.pk %}"
                            class="basis-1/4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}